{% extends 'Base Files/base.html'%}
{%load static%}
{% block dash%}
  
    <div class="container">
        <form action="{% url 'addrec'%}" method="post" >
            {% csrf_token %}
                  <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="validationDefault01" class="form-label">Fullname:</label>
                        <input type="text" name="fname" class="form-control"><br>
                      </div>
                <div class="col-md-6 mb-3">
                <label for="">Phone:</label>
                <input type="text" name="phone" class="form-control">
                </div>
             </div>
               <div  class="form-row">
                <div class="col-md-6 mb-3">
                <label for="">Course:</label>
                <input type="text" name="course" class="form-control">
               </div>
               <div class="col-md-6 mb-3">
                <label for="">Amount:</label>
                <input type="number" name="amount" class="form-control">
               </div>
              </div>
              <div  class="form-row">
               <div class="col-md-4 mb-3">
                <label for="">Time:</label>
                <input type="time" name="stime" class="form-control">
               </div>
              
               <div class="col-md-4 mb-3">
                <label for="">Payment Mode:</label>
                <input type="text" name="payment" class="form-control">
               </div>
               <div class="col-md-4 mb-3">
                <label for="">Date:</label>
                <input type="date" name="date" class="form-control">
               </div>
               </div>
                <button type="submit" class="btn btn-info btn-lg active">submit</button>
                </form>
            
    </div>
   
{% endblock %}