{% extends 'Base File/base.html'%}
{%load static}
{% block dash%}
    <table class="table table-bordered">
        <tr>
            <th>No</th>
            <th>Full_Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Address</th>
            <th>Shift</th>
            <th colspan="2">Actions</th>
         
        </tr>
        {% for x in M %}
          
     
        <tr>
            <td>{{x.Full_Name}}</td>
            <td>{{x.Phone}}</td>
            <td>{{x.Email}}</td>
            <td>{{X.Address}}</td>
            <td>{{X.Shift}}</td>
            <td>
                <a href="update/{{x.id}} "><button class="btn btn-primary">Update</button></a>
            </td>
            <td>
                <a href="delete/{{x.id}} "><button class="btn btn-danger">Delete</button></a>
            </td>
        </tr>
        
        {% endfor %}
    

    </table>
{%endblock%}