{% extends 'Dashboard/Dashbours1.html'%}
{%load static%}
{% block userdash%}
<div class="Head">
<h2>Tanaad Computer Science College</h2>
</div>
<div class="Contact">
    <img src="{% static 'images/Contact/Call1.jfif' %}" alt="" class="Conimages" id="conh">
    <a href="http://" id="conh">Campus One:</a>
    <p >+252 63-4949959</p>
    <img id="conh" src="{% static 'images/Contact/Call2.jfif' %}" alt="" class="Conimages1">
    <a id="conh" href="http://" class="a1">Campus Two:</a>
    <p  class="p1">+252 63-4783839</p>
    <img id="conh" src="{% static 'images/Contact/Whatsapp.jfif' %}" alt="" class="Conimages2">
    <a id="conh" href="http://" class="a2">Whatsapp:</a>
    <p  class="p2">+252 63-4783839</p>
  </div>
   


{%endblock%}